<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link id="favicon" rel="icon" href="/public/generic/favicon.ico" />
  <link id="apple-touch-icon" rel="apple-touch-icon" href="/public/generic/apple-touch-icon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Starter app for your demos" />

  {{! Import bootstrap }}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

  <link href="/styles.css" rel="stylesheet" />

  <style>
    .vertical-logo {
      max-width: 200px;
      width: 100%;
    }

    .btn-link {
      text-decoration: none;
      color: #0a57ca;
    }

    table {
      box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    }

    .bxi thead {
      background-color: #324960;
      color: #fff;
    }

    .cell-container {
      min-height: 70px;
    }
  </style>
</head>
<body class="bxi">
  <div class="container positon-relative">
    <button class="btn btn-link position-absolute mt-4" id="back-button" onclick="history.back()"><< Go Back</button>
    <h1 class="text-center my-4 fw-bold">Verticals</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center fs-7 fw-bold">Logo</th>
          <th class="text-center fs-7 fw-bold">Pages</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        <tr>
          <td>
            <div class="cell-container d-flex justify-content-center align-items-center">
              <img class="vertical-logo" src="{{logo}}" alt="{{name}}" />
            </div>
          </td>
          <td>
            <div class="cell-container d-flex align-items-center justify-content-center flex-wrap">
              <a class="btn btn-link" href="{{home}}">Home</a>
              {{#if dashboard}}
              <a class="btn btn-link" href="{{dashboard}}">Dashboard</a>
              {{/if}}
              {{#if dialogExamples}}
              <a class="btn btn-link" href="{{dialogExamples}}">Dialog Examples</a>
              {{/if}}
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{> remix}}

  <script type="text/javascript">
    (() => {
      // We want to prevent the back button navigating if the page was not access via a link
      // technically this COULD take you outside BXI if someone links to this page, but that's 
      // an edge case and would probably be okay anyway.
      if (!document.referrer) {
        document.getElementById('back-button').style.display = 'none';
      }
    })();
  </script>
</body>
</html>