<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link id="favicon" rel="icon" href="/public/generic/favicon.ico" />
  <link id="apple-touch-icon" rel="apple-touch-icon" href="/public/generic/apple-touch-icon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Starter app for your demos" />

  {{! Import bootstrap }}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

  <link href="/styles.css" rel="stylesheet" />

  <style>
    .vertical-logo {
      max-width: 250px;
    }

    .btn-link {
      text-decoration: none;
      color: #0a57ca;
    }

    .align-header-with-buttons {
      padding-left: 20px !important;
    }
  </style>
</head>
<body class="bxi">
  <h1 class="text-center my-4">Verticals</h1>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Logo</th>
          <th class="align-header-with-buttons">Pages</th>
        </tr>
      </thead>
      {{#each this}}
      <tr>
        <td class="text-center py-3">
          <img class="vertical-logo ms-auto" src="{{logo}}" alt="{{name}}" />
        </td>
        <td class="py-3">
          <a class="btn btn-link" href="{{home}}">Home</a>
          {{#if dashboard}}
          <a class="btn btn-link" href="{{dashboard}}">Dashboard</a>
          {{/if}}
          {{#if dialogExamples}}
          <a class="btn btn-link" href="{{dialogExamples}}">Dialog Examples</a>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{> remix}}
</body>
</html>