<!DOCTYPE html>
<html lang="en">
  {{#> head }}
    {{> retailBranding }}
  {{/head}}
  <body onload="bxi.pageLoad()" class="bxi retail dashboard">
    {{> variables}}
    <header>
      <nav class="navbar navbar-expand-lg pt-lg-4 pb-0 flex-wrap navbar-dark bxi-bg-primary">
        <div class="container">
          <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand pt-0" href="#">
            <img width="150" src="{{settings.images.logo}}" alt="Logo" />
          </a>
          <div class="d-flex flex-row mt-2 position-relative">
            {{> notificationIcon class="mt-2 me-3 d-lg-block d-none" }}
            {{> pinIcon class="mt-2 me-3 d-lg-block d-none" }}
            {{> cartIcon class="mt-2 me-3 d-lg-block d-none" }}
            <div class="bxi-auth-buttons bxi-bg-secondary bxi-bg-lg-transparent collapse navbar-collapse p-3 py-lg-1">
              <button onclick="bxi.logout()" class="button button--nav-link">Log Out</button>
            </div>
            <div class="bxi-user-icon bxi-bg-primary pb-3 pb-lg-0 mt-2 mt-lg-0" data-bs-toggle="collapse" data-bs-target=".bxi-auth-buttons">
              {{> userIcon }}
            </div>
          </div>
        </div>
        <div class="container">
          <div class="bxi-navbar bxi-bg-secondary bxi-bg-lg-transparent collapse navbar-collapse mt-2" id="navbarNav">
            <ul class="navbar-nav p-3 p-lg-0 py-lg-4">
              {{#each settings.header.links.items}}
              <li class="nav-item pb-2"><a class="button button--nav-link fs-6 ps-0 pe-lg-4">{{this}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="welcome-banner">
      <div class="container py-3">
        <h2>{{settings.dashboard.welcome}} <span id="username-container">{{settings.dashboard.username}}</span></h2>
      </div>
    </section>
    <section class="portal">
      <div class="container">
        Yay, content
      </div>
    </section>
    <footer class="bxi-footer-color py-5">
      <div class="container text-center text-lg-start">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <ul class="d-flex justify-content-center justify-content-lg-start ls-none ps-0 mb-3">
              <li>
                <button class="button button--outline button--icon me-lg-3 me-5">
                  {{> facebookIcon }}
                </button>
              </li>
              <li>
                <button class="button button--outline button--icon me-lg-3 me-5">
                  {{> twitterIcon }}
                </button>
              </li>
              <li>
                <button class="button button--outline button--icon">
                  {{> instagramIcon }}
                </button>
              </li>
            </ul>
            <p class="mb-3 mb-md-0 fs-8 bxi-copyright-color">{{settings.footer.copyright}}</p>
          </div>
          <div class="col-lg-3 mb-3">
            {{#each settings.footer.navigation.links_left}}
            <a class="bxi-footer-link mb-2 d-block fs-6" href="#">{{this}}</a>
            {{/each}}
          </div>
          <div class="col-lg-3 mb-3">
            <a class="bxi-footer-link mb-2 d-block fs-6 fw-bold" href="#">{{settings.footer.phone_number}}</a>
            <a class="bxi-footer-link mb-2 d-block fs-6 fw-bold" href="#">{{settings.footer.email}}</a>
            <a class="bxi-footer-link mb-2 d-block fs-6 fw-bold" href="#">{{settings.footer.chat}}</a>
          </div>
          <div class="col-lg-3 mb-3">
            {{#each settings.footer.navigation.links_right}}
            <a class="bxi-footer-link mb-2 d-block fs-6" href="#">{{this}}</a>
            {{/each}}
          </div>
        </div>
      </div>
      <section class="container">
        <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
          {{> remix }}
        </div>
      </section>
    </footer>
    {{> modal}}
  </body>
</html>