<!DOCTYPE html>
<html lang="en">
  {{#> head }}
    {{> retailBranding }}
  {{/head}}
  <body onload="bxi.pageLoad()" class="bxi retail home">
    {{> variables}}
    <header>
      <nav class="navbar navbar-expand-lg pt-lg-4 flex-wrap navbar-dark bxi-bg-primary">
        <div class="container">
          <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand pt-0" href="#">
            <img width="150" src="{{settings.images.logo}}" alt="Logo" />
          </a>
          <div class="d-flex flex-row mt-2 position-relative">
            {{> pinIcon class="mt-2 me-3 d-lg-block d-none" }}
            {{> cartIcon class="mt-2 me-3 d-lg-block d-none" }}
            <div class="bxi-auth-buttons bxi-bg-secondary bxi-bg-lg-transparent collapse navbar-collapse p-3 py-lg-1">
              {{!-- See src/home-nav-buttons.hbs to update auth buttons --}}
              {{> homeNavButtons }}
            </div>
            <div class="bxi-user-icon bxi-bg-primary pb-3 pb-lg-0 mt-2 mt-lg-0" data-bs-toggle="collapse" data-bs-target=".bxi-auth-buttons">
              {{> userIcon }}
            </div>
          </div>
        </div>
        <div class="container">
          <div class="bxi-navbar bxi-bg-secondary bxi-bg-lg-transparent collapse navbar-collapse mt-2" id="navbarNav">
            <ul class="navbar-nav p-3 p-lg-0 py-lg-4">
              {{#each settings.header.links}}
              <li class="nav-item pb-2"><a class="button button--nav-link fs-6 ps-0 pe-lg-4">{{this}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="container mt-5">
      <div class="row">
        <div class="col-lg-5 mb-4 mb-lg-0">
          <div class="sale-tile p-3" style="background-image: url('{{settings.home_page.sale_tile.image}}')">
            <h1 class="fs-1 fw-normal">{{settings.home_page.sale_tile.title}}</h1>
            <p class="fw-light">{{settings.home_page.sale_tile.description}}</p>
            {{#if settings.home_page.sale_tile.button}}
            <button class="button button--lg">{{settings.home_page.sale_tile.button}}</button>
            {{/if}}
          </div>
        </div>
        <div class="col-lg-7">
          <div class="shop-tile p-3" style="background-image: url('{{settings.home_page.shop_tile.image}}')">
            <div class="shop-tile__overlay p-5">
              <h1 class="fw-normal">{{settings.home_page.shop_tile.title}}</h1>
              <h5>{{settings.home_page.shop_tile.subtitle}}</h5>
              <p class="fw-light">{{settings.home_page.shop_tile.description}}</p>
              {{#if settings.home_page.shop_tile.button}}
              <button class="button button--lg">{{settings.home_page.shop_tile.button}}</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bxi-banner mt-5 py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="d-flex d-lg-block justify-content-center">{{settings.home_page.banner.text}}</h4>
          </div>
          <div class="col-lg-6">
            <div class="d-flex justify-content-center align-items-center">
              {{#each settings.home_page.banner.logos}}
              <img class="mx-2 mx-lg-0 me-lg-4 w-auto" src="{{this}}" alt="Logo {{@index}}" />
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container mt-5">
      <div class="row">
        {{#each settings.home_page.features_section.items}}
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="position-relative mb-3">
            <img class="w-100" src="{{image}}" alt="{{title}}" />
            <h5 class="position-absolute w-100 ps-3 py-2 feature-title">{{title}}</h5>
          </div>
          <p class="fs-6 fw-light">{{description}}</p>
          <button class="button button--link">{{link}}</button>
        </div>
        {{/each}}
      </div>
    </section>
    <footer class="bxi-footer-color py-5">
      <div class="container text-center text-lg-start">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <ul class="d-flex justify-content-center justify-content-lg-start ls-none ps-0 mb-3">
              <li>
                <button class="button button--outline button--icon me-lg-3 me-5">
                  {{> facebookIcon }}
                </button>
              </li>
              <li>
                <button class="button button--outline button--icon me-lg-3 me-5">
                  {{> twitterIcon }}
                </button>
              </li>
              <li>
                <button class="button button--outline button--icon">
                  {{> instagramIcon }}
                </button>
              </li>
            </ul>
            <p class="mb-3 mb-md-0 fs-8 bxi-copyright-color">{{settings.footer.copyright}}</p>
          </div>
          <div class="col-lg-3 mb-3">
            {{#each settings.footer.navigation.links_left}}
            <a class="bxi-footer-link mb-2 d-block fs-6" href="#">{{this}}</a>
            {{/each}}
          </div>
          <div class="col-lg-3 mb-3">
            <a class="bxi-footer-link mb-2 d-block fs-6 fw-bold" href="#">{{settings.footer.phone_number}}</a>
            <a class="bxi-footer-link mb-2 d-block fs-6 fw-bold" href="#">{{settings.footer.email}}</a>
            <a class="bxi-footer-link mb-2 d-block fs-6 fw-bold" href="#">{{settings.footer.chat}}</a>
          </div>
          <div class="col-lg-3 mb-3">
            {{#each settings.footer.navigation.links_right}}
            <a class="bxi-footer-link mb-2 d-block fs-6" href="#">{{this}}</a>
            {{/each}}
          </div>
        </div>
      </div>
      {{> remix }}
    </footer>
    {{> modal}}
  </body>
</html>